@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:400');

body {
  margin              : 0;
  background          : rgba(255, 255, 255, 1.0);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.landing {
  max-width           : 1280px;
  max-height          : 100vh;
  position            : relative;
  overflow            : hidden;
  margin              : auto;
}
.landing .head {
  top                 : 0;
  height              : 80px;
  width               : 100%;
  max-width           : 100vw;
  box-sizing          : border-box;
  background-color    : white;
  padding             : 0 20px;
  display             : flex;
  align-items         : center;
  justify-content     : space-between;
}
.landing .head .logo {
  line-height         : 80px;
  height              : 80px;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(33, 33, 33, 1.0);
  text-align          : left;
  cursor              : pointer;
}
.landing .head .nav a {
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20px;
  color               : rgba(159, 163, 167, 1.0);
  text-align          : center;
  letter-spacing      : 3.36px;
  line-height         : 18.0px;
  margin              : 0 15px;
}
.landing .head .nav a.active, .landing .head .nav a:hover {
  color               : rgba(33, 33, 33, 1.0);
}
.landing .main {
  min-height          : calc(100vh - 80px);
  max-width           : 100vw;
  padding             : 0;
  display             : flex;
  flex-direction      : column;
  align-items         : center;
  justify-content     : center;
}
.landing .main .contents {
  max-width           : 800px;
  display             : flex;
  align-items         : center;
  margin-bottom       : 40px;
  margin-top          : -100px;
}
.landing .main .left {
  margin-right        : 30px;
}
.landing .main .subtitle {
  font-weight         : 400;
  font-style          : normal;
  font-size           : 22px;
  color               : rgba(159, 163, 167, 1.0);
  text-align          : left;
  line-height         : 22px;
}
.landing .main .title {
  font-weight         : 300;
  font-style          : normal;
  font-size           : 42.0px;
  color               : rgba(33, 33, 33, 1.0);
  text-align          : left;
  line-height         : 52.0px;
  margin-bottom       : 15px;
}
.landing .main .image {
  display             : inline-block;
}
.landing .main .image img {
  max-width           : 240px;
}
.landing.about .main .contents {
  flex-direction      : column;
}
.landing.about .main .contents h3 {
  font-weight         : 300;
  font-size           : 32px;
  letter-spacing      : 1.3px;
}
.landing.about .main .contents p {
  font-weight         : 300;
  font-size           : 20px;
  letter-spacing      : 1.1px;
  line-height         : 36px;
  max-width           : 600px;
}
.landing .cta {
  text-align          : center;
  line-height         : 12.0px;
  background-color    : #001489;
  padding             : 20px 30px;
  border-radius       : 25px;
  border              : none;
  cursor              : pointer;
}
.landing .cta span {
  font-weight         : 300;
  font-style          : normal;
  font-size           : 20px;
  color               : #fff;
  letter-spacing      : 3.2px;
}
@media (max-width: 850px) {
  .landing .main .contents {
    max-width: 500px;
  }
}
@media (max-width: 550px) {
  .landing {
    overflow: scroll;
  }
  .landing .head .logo {
    font-size: 28px;
  }
  .landing .head .nav {
    left: initial;
    right: 15px;
    transform: initial;
  }
  .landing .head .nav a {
    font-size: 16px;
    margin: 0 0 0 15px;
  }
  .landing .main {
    justify-content: flex-start;
  }
  .landing .main .contents {
    max-width: calc(100% - 40px);
    flex-direction: column;
    margin: 3vh 0 40px;
  }
  .landing .main .left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .landing .main .title {
    font-size: 32px;
    line-height: 42px;
  }
  .landing .main .subtitle {
    margin-bottom: 15px;
  }
  .landing .main .image img {
    max-width: 150px;
  }
  .landing.about .main .contents h3 {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .landing .head .nav a {
    margin: 0 0 0 7px;
  }
  .landing .main .image img {
    display: none;
  }
  .landing .main .contents {
    margin-bottom: 0;
  }
}
